<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="susername" value="9423111564"/>
  <parameter name="spassword" value="9423111564"/>
  <classes>
      <class name="newtestdemo.Testngparameters"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
